.demo-table {
    width: 50%;
  }
  
  .button-container {
    justify-content: flex-end; 
    padding-bottom: 16px;
    margin-left: 80%;
  }
  
  .deal-button {
    margin-right: 20px;
    color: white !important;  
    background-color: rgb(66, 66, 199) !important;  
  }

  
  .padding-bottom-none {
    padding-bottom: 0 !important;
  }
  
  .padding-top-none {
    padding-top: 0 !important;
  }
  
  .padding-1-present {
    padding: 1% !important;
  }
  
  .padding-3-present {
    padding: 3% !important;
  }
  .padding-none {
    padding: 0 !important;
  }
  .search{
    background-color: #ddd;
  } 
  .form-control {
    display: block;
    width: 200%;
    margin-bottom: 10px;
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f7f7f7;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #e0e0e0;
  }
  
  td {
    background-color: #fff;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .icon-blue {
    color: blue;
    font-size: 24px; /* Adjust size as needed */
  }
  
  .icon-yellow {
    color: yellow;
    font-size: 24px; /* Adjust size as needed */
  }
  
  .icon-red {
    color: red;
    font-size: 24px; /* Adjust size as needed */
  }
  
  .mat-icon {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
  }
  .icon-blue {
    color: blue;
    font-size: 18px; /* Custom size for blue icon */
  }
  .icon-crom {
    color: blue;
    margin-right: 100px;
  }
  
  .icon-yellow {
    color: yellow;
    font-size: 18px; /* Custom size for yellow icon */
  }
  
  .icon-red {
    color: red;
    font-size: 18px; /* Custom size for red icon */
  }

  
  
    
    